/* Мобільна версія */

.hidden {
  display: none !important;
  cursor: none !important;
}

.feedback {
  padding: 64px 0;
}

.feedback-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-bottom: 24px;

  width: 100%;
  max-width: 335px;
}

.feedback-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 80px;

  width: 100%;
  max-width: 335px;
}

.swiper {
  width: 100%;
  height: auto;
  position: relative;
}

:root {
  --swiper-theme-color: #080c09 !important;
}

.star-empty use,
.star-half use,
.star-filled use {
  fill: black;
}

.rating {
  justify-content: flex-start !important;
  margin-bottom: 24px !important;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch !important;
}
.feedback-item {
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.feedback-item.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  height: auto !important;
}

.feedback-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  max-width: 335px;
  margin-bottom: 24px;

  flex-grow: 1;
}

.feedback-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;

  margin-top: auto;
}

.feedback-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
}

.swiper-pagination {
  position: static !important;
  width: auto !important;
  display: flex !important;
  align-items: center;
  gap: 8px;
  color: gray;

  padding: 0 !important;
  margin: 0 !important;
  height: 48px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-pagination-bullet {
  margin: 0 !important;
  width: 8px;
  height: 8px;
}

.swiper-pagination:active {
  color: #080c09;
}

.btn-wrapper {
  position: static !important;
  display: flex;
  align-items: flex-end;
  gap: 16px;
  height: 48px;
}

.swiper-button-prev,
.swiper-button-next {
  border: 1px solid rgba(8, 12, 9, 0.15);
  border-radius: 100px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #f2f2f2;
  color: #080c09;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static !important;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-prev:hover,
.swiper-button-next:hover,
.swiper-button-prev:focus,
.swiper-button-next:focus {
  background-color: #975052;
  color: #fff;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  background-color: #6b0609;
  color: #fff;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
  background-color: #f2f2f2;
  opacity: 0.3;
  color: #080c09;
  cursor: not-allowed;
}

/* Планшетна версія */

@media screen and (min-width: 768px) {
  .feedback {
    padding: 32px 0;
  }
  .container-feedback {
    padding: 0 32px;
  }

  .feedback-title {
    width: 560px;
  }

  .feedback-description {
    max-width: 560px;
  }

  .feedback-item {
    width: 100%;
    max-width: none;
  }

  .feedback-text {
    width: 100%;
    max-width: none;
  }
}

/* Десктопна версія */

@media screen and (min-width: 1440px) {
  .feedback {
    padding: 64px 0;
  }
  .container-feedback {
    padding: 0 64px;
  }

  .feedback-title {
    font-size: 48px;
  }

  .swiper {
    min-height: 318px;
  }
}
